* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e1e2e3;
  z-index: 999;
  background-color: #fff;
}

.nav {
  width: 90%;
  max-width: 1060px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo .menu-btn {
  width: 17px;
  height: 14px;
  margin-right: 15px;
}

.nav .logo .title {
  font-size: 22px;
  font-weight: bold;
}

.nav .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .main-menu li a {
  padding: 15px;
  font-weight: 600;
}

.nav .sub-menu {
  display: flex;
  align-items: center;
}

.nav .sub-menu button {
  padding: 0 10px;
}

.nav .sub-menu svg {
  margin-top: 5px;
  width: 18px;
  height: 18px;
}

.nav .sub-menu .signUp-btn {
  font-weight: 600;
}

.nav .sub-menu li:last-child {
  display: flex;
}

.nav .sub-menu li:last-child::before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}

.nav .sub-menu .dashboard {
  font-size: 13px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  color: #666;
  padding: 0 10px;
  margin-left: 15px;
}

/* top-banner 영역 */
.top-banner {
  margin-top: 50px;
  padding-top: 25px;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-wrapper {
}

.swiper-slide {
  text-align: center;
}

/* line-banner 영역 */
.line-banner {
  margin: 60px auto;
  text-align: center;
}

.line-banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #01a9fe -12%,
    #2f5fef 37%,
    #046afe 72%,
    #00d2dd 110%
  );
  border-radius: 38.5px;
  max-width: 1060px;
  margin: auto auto;
  padding: 21px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.line-banner svg {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}

/* matching article */
.matching {
  background-color: rgb(245, 248, 251);
  padding-bottom: 60px;
}

.matching-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 40px;
}

.matching-header .wanted-logo1 {
  width: 80px;
  height: 80px;
}

.matching-header .wanted-logo2 {
  width: 170px;
}

.matching .matching-content {
  text-align: center;
}

.matching .matching-content h2 {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 700;
  color: #111;
  margin-bottom: 6px;
}

.matching .matching-content h2 img {
  width: 114px;
  margin-right: 3px;
}

.matching .matching-content h3 {
  color: #555;
  font-size: 16px;
}

.matching button {
  padding: 10px 20px;
  border-radius: 25px;
  line-height: 22px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 700;
  color: #fefefe;
  margin: 20px auto 0 auto;
}

/* careerBanner */
.careerBanner {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #ddebff -0.28%, #b7d8ff);
  margin: 20px 0 60px;
}

.careerBanner .careerBanner__container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1060px;
  color: #5071dc;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  overflow-y: hidden;
}

.careerBanner .careerBanner__container .careerBanner__content button {
  border-radius: 25px;
  background-color: #5071dc;
  color: #fff;
  margin-top: 10px;
  height: 36px;
  font-size: 14px;
  width: 119px;
  font-weight: 700;
  line-height: 16px;
}

.careerBanner .careerBanner__container img {
  width: 236px;
  height: 169px;
}
