body {
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  position: relative;
}

svg {
  width: 18px;
  height: 18px;
}

.flex {
  display: flex;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e1e2e3;
}

nav {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1060px;
  height: inherit;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.hamberger_menu {
  height: 14px;
  margin-right: 10px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.menu li a {
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
}

aside ul {
  align-items: center;
}

aside button {
  margin: 0;
  padding: 0 10px;
  border: 0;
  background: none;
  cursor: pointer;
}

.account-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
  background-image: url(../images/account.png);
  background-size: cover;
}

.badge {
  font-size: 2px;
  font-weight: 600;
  color: white;
  background-color: rgb(51, 102, 255);
  width: 13px;
  height: 13px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: -2px;
  left: 22px;
}

aside ul li:last-child::before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}

aside ul li .dashboardButton {
  font-size: 13px;
  color: #666;
  height: 30px;
  line-height: 2.5;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
}
